<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         ">
  	<import resource="security/applicationContext-shiro.xml" />
	<import resource="task/applicationContext-task.xml" />
	<import resource="cache/applicationContext-ehcache.xml" />
	
</beans>