<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huang.rp.common.persistence.keymgt.dao.IDTableVoMapper" >
  <resultMap id="BaseResultMap" type="com.huang.rp.common.persistence.keymgt.domain.IDTableVo" >
    <id column="id_id" property="idId" jdbcType="INTEGER" />
    <result column="id_value" property="idValue" jdbcType="INTEGER" />
    <result column="id_name" property="idName" jdbcType="VARCHAR" />
    <result column="id_cache_size" property="idCacheSize" jdbcType="INTEGER" />
    <result column="id_prefix" property="idPrefix" jdbcType="VARCHAR" />
    <result column="is_prefix" property="isPrefix" jdbcType="BIT" />
    <result column="id_length" property="idLength" jdbcType="INTEGER" />
    <result column="id_suffix" property="idSuffix" jdbcType="VARCHAR" />
    <result column="is_suffix" property="isSuffix" jdbcType="BIT" />
    <result column="step" property="step" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="table_field" property="tableField" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id_id, id_value, id_name, id_cache_size, id_prefix, is_prefix, id_length, id_suffix, 
    is_suffix, step, remark, table_name, table_field
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huang.rp.common.persistence.keymgt.domain.IDTableVoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_idtable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_idtable
    where id_id = #{idId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_idtable
    where id_id = #{idId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huang.rp.common.persistence.keymgt.domain.IDTableVoExample" >
    delete from sys_idtable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huang.rp.common.persistence.keymgt.domain.IDTableVo" >
    insert into sys_idtable (id_id, id_value, id_name, 
      id_cache_size, id_prefix, is_prefix, 
      id_length, id_suffix, is_suffix, 
      step, remark, table_name, 
      table_field)
    values (#{idId,jdbcType=INTEGER}, #{idValue,jdbcType=INTEGER}, #{idName,jdbcType=VARCHAR}, 
      #{idCacheSize,jdbcType=INTEGER}, #{idPrefix,jdbcType=VARCHAR}, #{isPrefix,jdbcType=BIT}, 
      #{idLength,jdbcType=INTEGER}, #{idSuffix,jdbcType=VARCHAR}, #{isSuffix,jdbcType=BIT}, 
      #{step,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{tableField,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huang.rp.common.persistence.keymgt.domain.IDTableVo" >
    insert into sys_idtable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idId != null" >
        id_id,
      </if>
      <if test="idValue != null" >
        id_value,
      </if>
      <if test="idName != null" >
        id_name,
      </if>
      <if test="idCacheSize != null" >
        id_cache_size,
      </if>
      <if test="idPrefix != null" >
        id_prefix,
      </if>
      <if test="isPrefix != null" >
        is_prefix,
      </if>
      <if test="idLength != null" >
        id_length,
      </if>
      <if test="idSuffix != null" >
        id_suffix,
      </if>
      <if test="isSuffix != null" >
        is_suffix,
      </if>
      <if test="step != null" >
        step,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="tableField != null" >
        table_field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idId != null" >
        #{idId,jdbcType=INTEGER},
      </if>
      <if test="idValue != null" >
        #{idValue,jdbcType=INTEGER},
      </if>
      <if test="idName != null" >
        #{idName,jdbcType=VARCHAR},
      </if>
      <if test="idCacheSize != null" >
        #{idCacheSize,jdbcType=INTEGER},
      </if>
      <if test="idPrefix != null" >
        #{idPrefix,jdbcType=VARCHAR},
      </if>
      <if test="isPrefix != null" >
        #{isPrefix,jdbcType=BIT},
      </if>
      <if test="idLength != null" >
        #{idLength,jdbcType=INTEGER},
      </if>
      <if test="idSuffix != null" >
        #{idSuffix,jdbcType=VARCHAR},
      </if>
      <if test="isSuffix != null" >
        #{isSuffix,jdbcType=BIT},
      </if>
      <if test="step != null" >
        #{step,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableField != null" >
        #{tableField,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huang.rp.common.persistence.keymgt.domain.IDTableVoExample" resultType="java.lang.Integer" >
    select count(*) from sys_idtable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_idtable
    <set >
      <if test="record.idId != null" >
        id_id = #{record.idId,jdbcType=INTEGER},
      </if>
      <if test="record.idValue != null" >
        id_value = #{record.idValue,jdbcType=INTEGER},
      </if>
      <if test="record.idName != null" >
        id_name = #{record.idName,jdbcType=VARCHAR},
      </if>
      <if test="record.idCacheSize != null" >
        id_cache_size = #{record.idCacheSize,jdbcType=INTEGER},
      </if>
      <if test="record.idPrefix != null" >
        id_prefix = #{record.idPrefix,jdbcType=VARCHAR},
      </if>
      <if test="record.isPrefix != null" >
        is_prefix = #{record.isPrefix,jdbcType=BIT},
      </if>
      <if test="record.idLength != null" >
        id_length = #{record.idLength,jdbcType=INTEGER},
      </if>
      <if test="record.idSuffix != null" >
        id_suffix = #{record.idSuffix,jdbcType=VARCHAR},
      </if>
      <if test="record.isSuffix != null" >
        is_suffix = #{record.isSuffix,jdbcType=BIT},
      </if>
      <if test="record.step != null" >
        step = #{record.step,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null" >
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.tableField != null" >
        table_field = #{record.tableField,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_idtable
    set id_id = #{record.idId,jdbcType=INTEGER},
      id_value = #{record.idValue,jdbcType=INTEGER},
      id_name = #{record.idName,jdbcType=VARCHAR},
      id_cache_size = #{record.idCacheSize,jdbcType=INTEGER},
      id_prefix = #{record.idPrefix,jdbcType=VARCHAR},
      is_prefix = #{record.isPrefix,jdbcType=BIT},
      id_length = #{record.idLength,jdbcType=INTEGER},
      id_suffix = #{record.idSuffix,jdbcType=VARCHAR},
      is_suffix = #{record.isSuffix,jdbcType=BIT},
      step = #{record.step,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      table_field = #{record.tableField,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huang.rp.common.persistence.keymgt.domain.IDTableVo" >
    update sys_idtable
    <set >
      <if test="idValue != null" >
        id_value = #{idValue,jdbcType=INTEGER},
      </if>
      <if test="idName != null" >
        id_name = #{idName,jdbcType=VARCHAR},
      </if>
      <if test="idCacheSize != null" >
        id_cache_size = #{idCacheSize,jdbcType=INTEGER},
      </if>
      <if test="idPrefix != null" >
        id_prefix = #{idPrefix,jdbcType=VARCHAR},
      </if>
      <if test="isPrefix != null" >
        is_prefix = #{isPrefix,jdbcType=BIT},
      </if>
      <if test="idLength != null" >
        id_length = #{idLength,jdbcType=INTEGER},
      </if>
      <if test="idSuffix != null" >
        id_suffix = #{idSuffix,jdbcType=VARCHAR},
      </if>
      <if test="isSuffix != null" >
        is_suffix = #{isSuffix,jdbcType=BIT},
      </if>
      <if test="step != null" >
        step = #{step,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableField != null" >
        table_field = #{tableField,jdbcType=VARCHAR},
      </if>
    </set>
    where id_id = #{idId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huang.rp.common.persistence.keymgt.domain.IDTableVo" >
    update sys_idtable
    set id_value = #{idValue,jdbcType=INTEGER},
      id_name = #{idName,jdbcType=VARCHAR},
      id_cache_size = #{idCacheSize,jdbcType=INTEGER},
      id_prefix = #{idPrefix,jdbcType=VARCHAR},
      is_prefix = #{isPrefix,jdbcType=BIT},
      id_length = #{idLength,jdbcType=INTEGER},
      id_suffix = #{idSuffix,jdbcType=VARCHAR},
      is_suffix = #{isSuffix,jdbcType=BIT},
      step = #{step,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      table_field = #{tableField,jdbcType=VARCHAR}
    where id_id = #{idId,jdbcType=INTEGER}
  </update>
</mapper>